@{
	ViewData["Title"] = "Home Page";
}

<div id="div-info-one" class="row">
	<div class="col-6 col-div-one">
		<h1>Personalized Healthcare at Your Fingertips</h1>
		<p>Find the right medical practitioner with advanced filters and comprehensive profiles. Customize search results based on practitioner type, practitioner spoken language, practitioner's rating and more for an informed choice.</p>

	</div>
	<div class="col-6 text-center">
		
		<img class="my-5 mx-0" src="~/img/Healthcare-img-two.png" alt="Torso shot of a doctor looking at their smartphone" width="540" height="320" />

	</div>
	<div class="col-6 text-center">

		<img class="my-5 mx-0" src="~/img/Healthcare-img-one.png" alt="Personalized Healthcare Doctors" width="540" height="320" />

	</div>
	<div class="col-6 col-div-one">

		<h1>Find Walk-In Clinics With Ease</h1>
		<p>Find walk-in clinics with advanced filters that help deterine the most convenient walk-in clinics in your area based on wait-times, hours of operation and location.</p>


	</div>

</div>
<div class="mt-3">
	<div class="box">
		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

						<i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Instagram</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>



					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

						<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Twitter</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>



					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">

						<i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

						<div class="title">
							<h4>Facebook</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>



					</div>
				</div>



			</div>
		</div>
	</div>
</div>

@* walk-in clinic pic from:https://static.wixstatic.com/media/e9037a_367bfc438ab9428ca851ce879f3c8e80~mv2.jpg/v1/fill/w_2500,h_1666,al_c/e9037a_367bfc438ab9428ca851ce879f3c8e80~mv2.jpg *@