@{
	ViewData["Title"] = "Home Page";
}

<nav id="header-st" class="navbar navbar-expand static-top ">
    <div class="mr=auto">
        <a class="navbar-brand mx-0" href="#"><img class="ms-5 me-0" src="~/img/logo2.png" alt="Company Logo" width="70" height="60"></a>
        <h3 id="company-title">MediLink</h3>
    </div>
    <div class="ml-auto mt-4">
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle h6 text-white" href="#" id="reportsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 mx-2 d-none d-lg-inline text-white ">Login</span>
                    </a>
                    <!-- Dropdown - Login -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="@Url.Action("LoginPatient", "Management")">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Patient
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("LoginPractitioner", "Management")" )">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Practitioner
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row bg-gradient-login">
	<div class="col-6 col-div-one">
		<h1>Personalized Healthcare at Your Fingertips</h1>
		<p>Find the right medical practitioner with advanced filters and comprehensive profiles. Customize search results based on practitioner type, practitioner spoken language, practitioner's rating and more for an informed choice.</p>

	</div>
	<div class="col-6 text-center">
		
		<img class="my-5 mx-0" src="~/img/Healthcare-img-two.png" alt="Torso shot of a doctor looking at their smartphone" width="540" height="320" />

	</div>
	<div class="col-6 text-center">

		<img class="my-5 mx-0" src="~/img/Walk-in Clinic Waiting Room.jpg" alt="Waiting room of a walk-in clinic" width="540" height="320" />

	</div>
	<div class="col-6 col-div-one">

		<h1>Find Walk-In Clinics With Ease</h1>
		<p>Find walk-in clinics with advanced filters that help deterine the most convenient walk-in clinics in your area based on wait times, hours of operation and location.</p>
	</div>
</div>


@* walk-in clinic pic from:https://static.wixstatic.com/media/e9037a_367bfc438ab9428ca851ce879f3c8e80~mv2.jpg/v1/fill/w_2500,h_1666,al_c/e9037a_367bfc438ab9428ca851ce879f3c8e80~mv2.jpg *@